#canvas { 
    border: 5px solid #030303;
}

#brush {
    background-image: url(icon/brush.png);
    width: 55px;
    height: 55px;
}

#line {
    background-image: url(icon/line.png);
    width: 55px;
    height: 55px;
}

#rectangle {
    background-image: url(icon/rec.png);
    width: 55px;
    height: 55px;
}

#circle {
    background-image: url(icon/cir.png);
    width: 55px;
    height: 55px;   
}

#triangle {
    background-image: url(icon/tri.png);
    width: 55px;
    height: 55px;  
}

#solid {
    background-image: url(icon/solid.png);
    width: 55px;
    height: 55px;  
}

#redo {
    background-image: url(icon/redo.png);
    width: 55px;
    height: 55px;  
}

#undo {
    background-image: url(icon/undo.png);
    width: 55px;
    height: 55px;  
}

#download {
    background-image: url(icon/download.png);
    width: 55px;
    height: 55px;  
}

#eraser {
    background-image: url(icon/eraser.png);
    width: 55px;
    height: 55px;    
}

#refresh {
    background-image: url(icon/refresh.png);
    width: 55px;
    height: 55px;   
}

#text {
    background-image: url(icon/text.png);
    width: 55px;
    height: 55px;       
}